{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}
<div class="row">
    <div class="col-8">
        <p>One of the top 5  leading causes of death today is stroke, according to the CDC. It is important to know and understand how different health concerns might impact the probability of having a stroke. This model which will allow you to predict the likelihood of having a stroke based on input parameters. Click the button below to get started!</p>
    </div>
    <div class="col-4">
        <a href="https://www.cdc.gov/dhdsp/maps/national_maps/stroke_all.htm" target="_blank"><img src="https://www.cdc.gov/dhdsp/maps/images/stroke_all.jpg" class="img-logo"></a>
    </div>
</div>
<div class="row">
    <a role="button" class="btn btn-primary btn-lg" href="/survey">Calulate Stroke Chance</a>
</div>
{% endblock %}
