.img-logo {
  width: 100%;
  height: auto;
}
.navbar-brand{
    background:rgb(222 199 247);
    padding: 15px 32px;
    border-radius: 10px;
 
}
.description{
    font-size: 40px;
    background: rgb(174 197 255);
    padding: 15px 15px;
    border-radius: 10px;

}
.navbar-toggler{
    background:rgb(222 199 247);
}
.btn-primary{
    background:rgb(85 133 240);
    border-radius: 10px
}
.cdc-logo{
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

