.container {
    background: rgb(174 197 255);
}
.img-logo {
  width: 100%;
  height: auto;
}
.navbar-brand{
    background:rgb(222 199 247);
    padding: 15px 32px;
    border-radius: 10px;
 
}
.col-8{
    font-size: 40px;
}
.navbar-toggler{
    background:rgb(222 199 247);
}
.btn-primary{
    background:rgb(85 133 240);
    border-radius: 10px
}

